<app-multi (changeLang)="changeLang($event)"></app-multi>
<div class="header">
<tr>
  <th class="first-header fixed-width">{{'Source'|translate}}</th>
  <th class="first-header fixed-width">{{'Destination'|translate}}</th>
  <th class="first-header">{{'Information'|translate}}</th>
  <th class="first-header fixed-width">{{'Rule'|translate}}</th>
</tr>
</div>
