<nav class="navbar navbar-light header justify-content-end">
  <button class="btn btn-info eng-button" (click)="changeLanguage('en')">English</button>
  <button class="btn btn-info eng-button" (click)="changeLanguage('fr')">France</button>
</nav>
